---
title: "Plugins"
date: 2019-11-07T11:15:31+01:00
draft: false
---

{{< blocks/cover title="Plugins" image_anchor="bottom" height="min"  color="dark">}}
<div class="mx-auto">
  <p class="lead mt-5">Visit Github to download plugins designed to support popular e-commerce platforms.
  </p>
  <div class="mx-auto mt-5">
    {{< blocks/link-down color="primary" >}}
  </div>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}


{{% blocks/feature %}}
<img src=".\presta.jpg" alt="PRESTA SHOP"><br/>
<b>{{% target-blank "PRESTA SHOP" "https://github.com/PayU-EMEA/plugin_prestashop" %}}</b>
{{% /blocks/feature %}}

{{% blocks/feature %}}
<img src=".\magento.jpg" alt="Magento"><br/>
<b>{{% target-blank "Download (Magento 1)" "https://github.com/PayU-EMEA/plugin_magento" %}}</b></br>
<b>{{% target-blank "Download (Magento 2)" "https://github.com/PayU-EMEA/plugin_magento_2" %}}</b>
{{% /blocks/feature %}}

{{% blocks/feature %}}
<img src=".\opencart.jpg" alt="Opencart"><br/>
<b>{{% target-blank "Download (version 1.5.x)" "https://github.com/PayU-EMEA/plugin_opencart" %}}</b></br>
<b>{{% target-blank "Download (version 2.x.x)" "https://github.com/PayU-EMEA/plugin_opencart_2" %}}</b></br>
<b>{{% target-blank "Download (version 3.x.x)" "https://github.com/PayU-EMEA/plugin_opencart_3" %}}</b>
{{% /blocks/feature %}}

{{% blocks/feature %}}
<img src=".\woocommerce.png" alt="WooCommerce"><br/>
<b>{{% target-blank "Download" "https://github.com/PayU-EMEA/plugin_woocommerce" %}}</b>
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/cover title="In-built integrations" image_anchor="bottom" height="min"  color="dark">}}
<div class="mx-auto">
  <p class="lead mt-5">Below are examples of platforms which offer an in-built integration with PayU.
  </p>
  <div class="mx-auto mt-5">
    {{< blocks/link-down color="primary" >}}
  </div>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}


{{% blocks/feature %}}
<img src=".\clickshop.png" alt="ClickShop" ><br/>
<b>ClickShop</b>
{{% /blocks/feature %}}

{{% blocks/feature %}}
<img src=".\Comarch_e-Sklep.png" alt="Comarch e-Sklep"><br/>
<b>Comarch e-Sklep</b>
{{% /blocks/feature %}}

{{% blocks/feature %}}
<img src=".\cstore.png" alt="cStore"><br/>
<b>cStore</b>
{{% /blocks/feature %}}

{{% blocks/feature %}}
<img src=".\epro.png" alt="ePro"><br/>
<b>ePro</b>
{{% /blocks/feature %}}

{{% blocks/feature %}}
<img src=".\goshop.png" alt="goSHOPP"><br/>
<b>goSHOPP</b>
{{% /blocks/feature %}}

{{% blocks/feature %}}
<img src=".\iai.png" alt="iai-Shop.com"><br/>
<b>{{% target-blank "IAI" "https://www.idosell.com/pl/shop/integrations/payments/payu/integracja-sklepu-internetowego-z-systemem-platnosci-payu/" %}}</b>
{{% /blocks/feature %}}

{{< /blocks/section >}}
