<h5><b>{{ .Param "tocLinks" }}</b></h5>
<div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
  <a href="{{ .Param "hf_plugin" }}"><i class="fas fa-plug"></i> {{ T "helpful_links_plugins" }} </a>
  <a href="{{ .Param "hf_support" }}" target="_blank"><i class="fas fa-question-circle"></i> {{ T "helpful_links_support" }} </a>
  <a href="{{ .Param "hf_sandbox" }}"><i class="fas fa-vial"></i> {{ T "helpful_links_sandbox" }} </a>
</div>
