{{ if .Path }}
{{ $hl_plugins := ($.Param "helpful_plugins") }}
{{ $hl_help := ($.Param "helpful_help") }}
{{ $hl_sandbox := ($.Param "helpful_sandbox") }}
{{ if $hl_plugins }}
<div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
{{ $pluginsURL := printf "%s/plugins/%s" $hl_plugins .Path }}
{{ if and ($hl_plugins) (.Site.Language.Lang) }}
{{ $pluginsURL = printf "%s/edit/master/%s/content/%s/%s" $hl_plugins $hl_help ($.Site.Language.Lang) $.Path }}
{{ else if .Site.Language.Lang }}
{{ $pluginsURL = printf "%s/edit/master/content/%s/%s" $hl_plugins ($.Site.Language.Lang) .Path }}
{{ else if $hl_help }}
{{ $pluginsURL = printf "%s/edit/master/%s/content/%s" $hl_plugins $hl_help $.Path }}
{{ end }}
{{ $helpURL := printf "%s/issues/new?title=%s" $hl_plugins (htmlEscape $.Title )}}
<a href="{{ $pluginsURL }}" target="_blank"><i class="fa fa-edit fa-fw"></i> {{ T "plugins" }}</a>
<a href="{{ $helpURL }}" target="_blank"><i class="fab fa-github fa-fw"></i> {{ T "help" }}</a>
{{ if $hl_sandbox }}
{{ $sandboxURL := printf "%s/issues/new" $hl_sandbox }}
<a href="{{ $sandboxURL }}" target="_blank"><i class="fas fa-tasks fa-fw"></i> {{ T "sandbox" }}</a>
{{ end }}
</div>
{{ end }}
{{ end }}
