//
// Style Markdown content
//

.td-content {
    order: 1;

    p, li, td {
        font-weight: $font-weight-body-text;
    }

    > h1 {
        font-weight: $font-weight-bold;
        margin-bottom: 1rem;
    }

    > h2 {
        margin-bottom: 1rem;
    }

    > h2:not(:first-child) {
        margin-top: 3rem;
    }

    > h2 + h3 {
         margin-top: 1rem;
    }

    > h3, > h4, > h5, > h6 {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    img {
        @extend .img-fluid;
    }

    > table {
        @extend .table-striped;

        @extend .table-responsive;

        @extend .table;
    }

    > blockquote {
        padding: 0 0 0 1rem;
        margin-bottom: $spacer;
        color: $gray-600;
        border-left: 6px solid $secondary;
    }

    > ul li, > ol li {
        margin-bottom: .25rem;
    }

    strong {
        font-weight: $font-weight-bold;
    }

    > pre, > .highlight, > .lead, > h1, > h2, > ul, > ol, > p, > blockquote, > dl dd, .footnotes, > .alert {
        @extend .td-max-width-on-larger-screens;
    }

    .alert:not(:first-child) {
        margin-top: 2 * $spacer;
        margin-bottom: 2 * $spacer;
    }

    .lead {
        margin-bottom: 1.5rem;
    }
}

.td-title {
    margin-top: 1rem;
    margin-bottom: .5rem;

    @include media-breakpoint-up(sm) {
        font-size: 3rem;
    }
}

li#en-docs-html {
    margin-left: -0.5em;
}

/**
 * Tooltip Styles
 */

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none; }

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 19px;
  padding: 13px 16px;
  width: 160px;
  border-radius: 3px;
//   background-color: rgba(51, 51, 51, 0.9);
  background-color: red;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 0.88em;
  font-weight: 500;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 50%;
  left: 26%;
  margin-left: -136px;
  margin-bottom: 10px;
  width: 0;
  content: " ";
  font-size: 0;
  line-height: 0; }

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1; }


 .tooltip
{

 position: relative;
}

.tooltipicon {
  // margin-left: -185px;
}

.tooltipiconPosition {
  padding: 4px 4px 0px 0px;
//   margin: 0 1px 0 -17px;
  position: relative;
  top: 1px;
}

// JSONViewer CSS
.json-viewer {
	color: #000;
	padding-left: 20px;
	word-wrap: break-word !important;
	width: 770px !important;
	background: white !important;
	margin-bottom: 20px !important;
	box-shadow: 1px 1px 10px 0px #888888 !important;
}

.json-viewer ul {
	list-style-type: none;
	margin: 0;
	margin: 0 0 0 1px;
	border-left: 1px dotted #ccc;
	padding-left: 2em;
}

.json-viewer .hide {
	display: none;
}

.json-viewer ul li .type-string,
.json-viewer ul li .type-date {
	color: #0B7500;
}

.json-viewer ul li .type-boolean {
	color: #1A01CC;
	font-weight: bold;
}

.json-viewer ul li .type-number {
	color: #1A01CC;
}

.json-viewer ul li .type-null {
	color: red;
}

.json-viewer a.list-link {
	color: #000;
	text-decoration: none;
	position: relative;
}

.json-viewer a.list-link:before {
	color: #aaa;
	content: "\25BC";
	position: absolute;
	display: inline-block;
	width: 1em;
	left: -1em;
}

.json-viewer a.list-link.collapsed:before {
	content: "\25B6";
}

.json-viewer a.list-link.empty:before {
	content: "";
}

.json-viewer .items-ph {
	color: #aaa;
	padding: 0 1em;
}

.json-viewer .items-ph:hover {
	text-decoration: underline;
}

.json {
		width: 747px;
		padding-top: 100px !important;
}

// Provider List Styles
.flex-item-inpagetoc {
    column-count: 3;
}

#container-inpagetoc {
    padding: 22px 0 0 0;
    border: none;
    border-top: 1px solid hsl(0, 0%, 90%);
    margin-top: 10px;
    border-radius: 0;
}

// Provider filter page
.pmdropintros {
    color: hsl(205, 55%, 56%) !important;
    font-size: 0.9em !important;
    margin: 22px 0 12px;
    font-weight: 700;
    margin-bottom: 10px !important;
    margin-top: 15px !important;
  }
    .pmdropintros span, .search-result-msg {
      display: block;
      font-weight: 400;
      color: hsl(0, 0%, 50%);
      font-size: 0.9em;
      margin-top: .7em;
      line-height: normal;
    }
      .pmdropintros span em {
        font-size: 1em;
      }

      .search-result-msg {
        padding: 5px;
    }

  #filterpane label {
    height: auto;
    display: flex;
    font-size: 0.9em;
    flex-flow: row;
    align-items: baseline;
    line-height: normal;
  }
  #filterpane label input[type=checkbox] {
    margin-right: 5px;
    top: 1px;
    position: relative;
  }

  .ui-accordion .ui-accordion-content {
    background: none;
    padding: 1em 2.2em;
    border-top: 0;
    overflow-y: scroll;
    min-height: 50px;
    max-height: 200px;
  }

  .filtercontainer {
    position: fixed;
    left: 350px;
    padding: 0;
    margin: 0;
  }
  #filterpane {
    padding: 12px 12px 0 12px;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: visible;
    box-shadow: -1px 0px 10px #00000014;
    z-index: 0;
  }

  #filterpage button {
    background-image: none;
    background-color: hsl(207, 60%, 49%);
    border-radius: 6px;
    box-shadow: none;
    font-size: 0.9em;
    height: unset;
    line-height: normal;
    margin: unset;
    padding: 10px;
    transition: background-color .2s ease-in-out;
}

  .ui-accordion .ui-accordion-icons {
    color: #4183c4;
    font-weight: bold;
    font-size: 12px;
    padding-left: 0.8em;
    background-color: hsl(0, 0%, 100%);
  }

  .ui-selectmenu-button span.ui-selectmenu-text {
    color: hsl(0, 0%, 50%) !important
  }

  .ui-selectmenu-button {
    width: 100% !important;
  }

  .ui-selectmenu-button span.ui-icon {
    right: 0.9em;
    left: 0.5em !important;
    margin-top: -8px;
    position: absolute;

    }


  #filteroptions {
    padding: 0;
    border: 0;
    // flex-grow: 1;
  }

  #nopmresults {
    padding: 5px;
  }

  .optiongroup {
    padding-top: 5px;
  }

  .optiongroup h6 {
    padding: 0 !important;
    line-height: normal;
    display: flex !important;
    font-size: 0.9em !important;
    align-items: center;
    border-radius: 10px;
    transition: border-radius .2s ease;
    outline: none;
    border: none;
  }

  .colorcodeLabel {
    min-width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 26px;
    margin: 10px 10px 10px -6px !important;
    font-size: 0.96em;
    text-align: center;
    line-height: 1.8em;
    color: hsl(0, 0%, 36%);
    font-weight: 700 !important;
    padding: 0px 4px;
  }

  #textfiltersearch {
    width: 100%;
    padding: 10px 6px;
    border: 0;
    border-bottom: 1px solid lightgray;
    color: hsl(0, 0%, 50%);
    opacity: .80;
  }

  #pmtypefilter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 23px;
    padding-top: 20px;
    font-size: 1rem;
    border-top: 1px solid hsl(0, 0%, 90%);
    margin-bottom: 20px;
  }
  #pmtypefilter p {
    margin: 0;
    color: hsl(207, 60%, 49%) !important;
    font-weight: 500;
  }
  #pmtypefilter #pmtypeselectoptions-button {
    border: 0;
    border-radius: 30px;
    background: hsl(207, 60%, 49%) !important;
    width: 190px !important;
    padding: 7px 12px;
    outline: none;
  }
    #pmtypefilter span.ui-selectmenu-text {
        font-size: 0.9em;
        font-weight: 500;
        color: white !important;
    }

  ul#pmtypeselectoptions-menu {
    white-space: nowrap;
  }

  span#pmtypeselectoptions-button span.ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s {
    right: 0;
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/images/ui-icons_ffffff_256x240.png) !important;
  }

  .ui-accordion .ui-accordion-content {
    padding: 5px 5px !important;
  }

  #paymentmethodslistfilteroptions label {
    white-space: normal;
  }

  .ui-widget-content {
    // border: 0 !important;
    background: white;
    border: 0px solid #dddddd;
  }


  .ui-icon, .ui-widget-content .ui-icon {
        background-image: url(https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/images/ui-icons_ef8c08_256x240.png) !important;
    }

    #filterpage #accordion .optiongroup {
        padding: 0 !important;
        margin: 8px 0 0;
        border-radius: 10px;
        box-shadow: 0 1px 3px #0000003b;
        transition: box-shadow .3s ease;
      }

  .ui-state-active {

      border: 0px solid #fbd850 !important;
      color: #4183c4 !important;
  }
  #filterpane button:disabled {
    background: hsl(0, 0%, 94%);
    color: hsl(0, 0%, 80%);
    box-shadow: none;
  }
  #filterpane button {

  }

  #toggle-filter-pane > i {
    margin-right: 7px;
  }

  .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    float: right !important;
    right: 0.5em;
    left: 90%;
  }

  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #dddddd;
    /* background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; */
    font-weight: bold;
    color: #7FB0DC
  }

  .ui-state-hover {
    background: none;
    border: 1px solid #dddddd;
  }

  #results-btn-mobile {
  }

  // #filter-button-container {
    // padding: 20px 0;
    // display: flex;
    // justify-content: space-around;
    // width: 100vw;
    // box-shadow: 0 20px 60px -8px #aaa;
    // border-top: 1px solid hsl(0, 0%, 79%);
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // background: hsl(0, 0%, 100%);
    // z-index: 1;
    #filter-button-container {
      padding: 20px 0;
      padding-top: 20px;
      padding-right: 0px;
      padding-bottom: 20px;
      padding-left: 0px;
      /* display: flex; */
      justify-content: space-around;
      // width: 100vw;
      /* box-shadow: 0 20px 60px -8px #aaa; */
      // border-top: 1px solid hsl(0, 0%, 79%);
      /* position: fixed; */
      /* bottom: 0; */
      /* left: 0; */
      background: hsl(0, 0%, 100%);
      z-index: 1;
      margin: 20px auto;
  }


  .back-to-top {
    bottom: 60px !important;
  }

  div#filter-button-container button {
    margin: 0px 10px 0px 10px;
  }

  #resetfilters{
    float: left;
    margin-right: 4px;
    /* font-size: 15px !important; */
  }

  #selectedpms, #selectedpmtype, #selectedfeatures, #selectedrequests  {
    color: hsl(21, 75%, 58%);
  }

  #toggle-filter-pane > i {
    margin-right: 7px;
  }
  #filter-display-chips {
      box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.09);
      padding: 10px 10px 4px;
      border-radius: 10px;
      margin: 11px 0 30px;
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
  }
    #filter-display-chips span {
      font-size: 0.8em;
      font-weight: 700;
      margin-bottom: 6px;
      margin-right: 6px;
      color: hsl(0, 0%, 36%);
      padding: 0 7px;
      border-radius: 20px;
      border: 1px solid hsla(0, 0%, 0%, 0);
    }
    #filter-display-chips span:last-child {
      margin-right: 0;
    }
      .pm-type-display {
        border: 1px dashed hsl(0, 0%, 82%) !important;
      }
      .payment-methods-chip,
      .colorcodeLabel.cclPaymentMethods {
        background: hsl(100, 77%, 88%);
      }
      .requests-chip,
      .colorcodeLabel.cclRequests {
        background: hsl(242, 80%, 94%);
      }
      .features-chip,
      .colorcodeLabel.cclFeatures {
        background: hsl(50, 100%, 83%);
    }
  #apply-filter-title a.anchorjs-link.header-anchor {
    display: none;
  }

  #providerlist li {
    list-style-type: none;
    line-height: normal;
    font-size: 0.9em;
  }
    #providerlist li a {
      display: block;
      padding: 8px 0;
    }

    span#addtnl-filter-text-requesttype {
      display: inline;
      color: hsl(205, 55%, 56%) !important;
      font-size: 0.9em !important;
      font-weight: 700;
  }
