//
// Right side toc
//
.td-toc {
    border-left: 1px solid $border-color;
    color: $tertiary;

    @supports (position: sticky) {
        position: sticky;
        top: 4rem;
        height: calc(100vh - 4rem);
        overflow-y: auto;
    }

    order: 2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    vertical-align: top;

    a {
        display: block;
        font-weight: $font-weight-light;
        padding-bottom: .25rem;
        font-size: $font-size-toc;
    }

    li {
        list-style: none;
        display: block;
    }

    li li {
        margin-left: 0.5rem;
    }

    .td-page-meta {
        a {
            font-weight: $font-weight-medium;
            font-size: $font-size-hf-links;
        }
    }

    #TableOfContents {
        // Hugo's ToC is a mouthful, this can be used to style the top level h2 entries.
        > ul > li > a{
          font-weight: $font-weight-bold;
        }
        > ul > li > ul > li > a {}

        a {
            color: $dark;
            font-weight: $font-weight-medium;

            &:hover {
                color: $primary;
                text-decoration: none;
            }
        }
    }

    ul {
        padding-left: 0;
    }
}
/*.helpful-links {
  position: sticky;
}*/
