/*

Nothing defined here. The Hugo project that uses this theme can override theme variables by adding a file to:

assets/scss/_variables_project.scss

*/

//GENERAL OPTIONS

$primary: #A6C307 !default;
$font-size-base: 0.9rem !default;
$lead-font-size: 0.9rem !default;
$lead-font-weight: 400 !default;

//LINKS

$link-color: $primary;

//SIDEBAR

$td-sidebar-bg-color: #fcfeff;
$font-size-sidebar: 0.9rem;
$font-size-toc: 0.8rem;
$font-size-hf-links: 0.9rem;
