+++
title = "PayU Developers"
linkTitle = "PayU Developers"

+++

{{< blocks/cover title="PayU Developers" image_anchor="top" height="full" color="" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "" >}}">
		GDPR Requirements
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Transparent Integration
	</a>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa-shopping-cart" title="Plugins" url="./plugins" %}}
Quick Integration with Magento PrestaShop, Opencart and WooCommerce.
{{% /blocks/feature %}}



{{% blocks/feature icon="fas fa-door-open" title="Overview" url="./docs/overview" %}}
Check this out before you start.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="REST API." url="./docs/api_sdk/restapi" %}}
Recommended method to integrate. The simplest and most convenient way.
{{% /blocks/feature %}}


{{< /blocks/section >}}
